body {
    font-family: Arial, sans-serif;
    background-color: #eff3f7;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background-color: rgb(180, 255, 196);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1, h2 {
    text-align: center;
    color: #170728;
}

textarea {
    width: 93%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

button {
    width: 48%;                 /* two buttons side by side */
    padding: 10px;
    margin: 5px 25%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#deleteBtn {
    background-color: #ff4c4c;
}

#deleteBtn:hover {
    background-color: #e04343;
}
.selected {
  background: #ffcccc;
  border: 2px solid red;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #fefafa;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}
